<form style="margin-bottom: 50px" class="col-md-6">
  <campo legenda="Nome" modelo="contato.nome"></campo>
  <campo legenda="Idade" modelo="contato.idade" tipo="number"></campo>
  <campo legenda="Telefone" modelo="contato.telefone"></campo>
  <campo legenda="URL Avatar" modelo="contato.avatar"></campo>
  <campo legenda="Data de Cadastro" modelo="contato.dataCadastro" tipo="date" desabilitado="true"></campo>
  <button ng-click="salvar()" type="submit" class="btn btn-primary">Salvar</button>
</form>